@page "/login"

@if (isAuthenticated)
{
    <h2>Welcome, <h3>@user.Username</h3></h2>
}
else
{
    <h3>Login</h3>

    <EditForm Model="user" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" @bind-Value="user.Username" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="username">Password</label>
            <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <ValidationSummary></ValidationSummary>
    </EditForm>
}

@code {
    private bool isAuthenticated = false;

    private BlazorBattles_Shared.UserLogin user = new BlazorBattles_Shared.UserLogin();

    private void HandleLogin()
    {
        Console.WriteLine($"Username:{user.Username}");
        Console.WriteLine($"Password:{user.Password}");
        isAuthenticated = true;
    }
}
