@inject IBananaService BananaService
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <div class="top-menu">
            <img src="Icons/banana.png"/>    
        
            <span class="popover-header">    
                @BananaService.Bananas
                @*@Bananas*@
            </span>
            <AddBananas/>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="login">Login</NavLink> |
            <NavLink href="register">Register</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    //[Parameter]
    //public int Bananas { get; set; } = 100;

    protected override void OnInitialized()
    {
        BananaService.OnChanged += StateHasChanged;
    }

        public void Dispose()
    {
        BananaService.OnChanged -= StateHasChanged;
    }

    //public void AddBananas (int value)
    //{
    //    Bananas += value;
    //}
}
